.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 280px;
  --tw-bg-opacity: 0.95;
  background-color: rgb(200 200 200 / var(--tw-bg-opacity));
}

.menu-li-open {
 margin: 0 1rem;
  transition: transform 0.6s ease-in;
}

.div-menu-open {
  opacity: 1;
  height: auto;
  transition: opacity 0.6s ease-in, height 0.6s ease-in;
}

@media screen and (max-width: 768px) {
  /* .mobile-menu-closed {
    left: -268px;
  } */

  .div-menu-closed {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in, height 0.6s ease-in;
  }

  .menu-li-closed {
    transform: (translateX(-50px));
  }
}
