body {
  margin: 0;
}

.title-decoration {
  cursor: pointer;
}

.title-decoration:hover {
  text-decoration: underline;
  text-decoration-color: #c2410c;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
